/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(30, 29, 29, 0.844);
}

/* Header Styles */
h2 {
    text-align: center;
    padding: 32px;
    color: white;
}

/* Container Styles */
.container {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(145, 150, 148, 0.844);
}

/* Calculator Styles */
.calculator {
    box-shadow: 6px 6px 13px #fff, -6px -6px 13px white;
    border-radius: 28px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 66px);
    gap: 10px;
}

/* Input Styles */
input {
    grid-column: span 4;
    height: 68px;
    width: 100%;
    box-shadow: inset -6px -6px 13px #fff, inset 6px 6px 13px #000000;
    background-color: rgba(145, 150, 148, 0.844);
    border: none;
    border-radius: 32px;
    color: rgb(26, 25, 25);
    text-align: end;
    margin: 10px 0 30px 0;
    padding: 20px;
    font-size: 20px;
}

/* Button Styles */
button {
    background-color: rgba(226, 236, 232, 0.844);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #000;
    color: white;
}

/* Equal Button Styles */
.equal {
    width: 120px;
    border-radius: 42px;
    background-color: rgba(217, 226, 223, 0.844);
}

/* Centered Text */
.center {
    text-align: center;
}

/* Footer Styles */
footer {
    color: white;
    padding: 9px 20px;
    font-size: 1.3rem;
}
